.container {
  height: calc(100vh - 4.6rem);
  display: flex;
}

.loginLeft {
  width: 50%;
  height: 100%;
  background-color: #f7f8fa80;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginRight {
  width: 50%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  //   background-color: lightgreen;
}

.imgContainer {
  height: 5.5rem;
  width: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 3rem;

  img {
    height: 3rem;
    width: 2.8rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");

.header {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 3.5rem;
  line-height: 4.3rem;
  margin-bottom: 2.8rem;
}

.text {
  font-size: 2rem;
  color: #566474;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.form {
  width: 50%;
  height: fit-content;
  padding: 4rem;
  border: #d2d4d6 solid 1px;
  border-radius: 0.9rem;
}

.formHeader {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.formInput {
  width: 100%;
  border: #ebf0f5 solid 1px;
  box-sizing: border-box;
  padding-left: 1rem;
  height: 3rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  color: #9eaab7;
  margin-bottom: 1.8rem;
}

.formButton {
  margin-top: 2.2rem;
  background-color: #142683;
  width: 100%;
  cursor: pointer;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 0.4rem;
  border: none;
  box-sizing: border-box;
  padding: 1rem;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
